<div class="container">
    <mat-toolbar>
        <span>My OMS</span>
        <button mat-raised-button 
            class="logout-btn"
            (click)="logOut()">
            Log Out
        </button>
    </mat-toolbar>
    <ng-container *ngIf="userRole === 'admin'; then adminContent else 
    userRole === 'manager' ? managerContent : defaultContent"></ng-container>
    <ng-template #adminContent>
        <h1>Welcome to the Dashboard</h1>
        <products-list></products-list>
    </ng-template>
    <ng-template #defaultContent>
        <customer-home-page></customer-home-page>
        <!-- Add content common to customers here -->
    </ng-template>
    <ng-template #managerContent>
        <h1>Welcome to the Manager's Dashboard</h1>
        <products-list></products-list>
        <admins-table></admins-table>
    </ng-template>
</div>