<div class="container">
    <h2>Products List</h2>
    <button mat-raised-button class="newProduct-btn" routerLink="/products/add">Add New Product</button>
    <table mat-table [dataSource]="products">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Product Name </th>
            <td mat-cell *matCellDef="let product"> 
                <img style="height: 100px;" src="{{product.imageUrl}}" alt="{{product.name}}">
                {{ product.name }}
            </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let product"> {{ product.description }} </td>
        </ng-container>
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let product"> {{ product.category }} </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let product"> {{ product.price }} </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let product"> {{ product.quantity }} </td>
        </ng-container>
    
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let product">
            <button mat-icon-button [routerLink]="['/products/edit', product.id]">
                <mat-icon class="edit-icon" >edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteProduct(product.id)">
                <mat-icon class="delete-icon">delete</mat-icon>
            </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>