.container {
    background-color: rgb(0, 0, 73);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}


.form-group {
    margin: 10px 0;

    label {
        font-weight: bold;
    }

    
    input {
        width: 90%;
        padding: 10px;
        border: 1px solid white;
        border-radius: 5px;
        background-color: transparent;
        color: white;
    }
}
.btn{
    margin-top: 10px;
    background-color: white;
    color: rgb(0, 0, 73);
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}